:root {
background-color: #1A2841;
}

.primary-color {
background-color: #1A2841;
}

.secondary-color {
background-color: #ffff;
}

.tertiary-color {
    background-color: #A86523;
}

.image-semester {
    width: 100%;
    height: 35vh;
}